# -----------------------
# Node.js Dependencies
# -----------------------
**/node_modules/

# -----------------------
# Build Output
# -----------------------
**/build/
**/dist/

# -----------------------
# Environment Variables
# -----------------------
.env
.env.local

# -----------------------
# Database
# -----------------------
*.sql
init_db.sh
pgdata/

# -----------------------
# Logs
# -----------------------
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------
# OS Junk
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDEs / Editors
# -----------------------
.vscode/
.idea/
*.swp

# -----------------------
# Misc
# -----------------------
coverage/